workflows/4HCG78e9ayYJI1zb.json
{
  "active": false,
  "connections": {
    "Odoo Website AI Response": {
      "main": [
        [
          {
            "node": "Combine Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "AI Search By All KBs",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Combine Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Search By All KBs": {
      "main": [
        [
          {
            "node": "Odoo Website AI Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-16T04:32:23.587Z",
  "id": "4HCG78e9ayYJI1zb",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "KB Odoo AI Search",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "=Combine the below 2 outputs from \"Odoo AI Response\" and \"Knowledge Base AI Response\", don't give me any further explanation on the \"merge\" action, just give me a final result.\n\nKeep in mind that the \"Odoo AI\" is more accurate because it's the official response from \"Odoo Official Website\", while the \"Knowledge Base AI\" is a local vector database we created based on RAG technology, which may have inaccurate response, but as the database data source comes from our previous q&a solutions, it can be put into consideration as well.\n\n\"Odoo AI Reponse\": {{ $('Odoo Website AI Response').item.json.result.parts[0].text }}\n\n\"Knowledge Base AI\": {{ $('AI Search By All KBs').item.json.output }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        660,
        0
      ],
      "id": "1414ab26-b397-47f4-9ade-d7cf3a9f406e",
      "name": "Combine Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://www.odoo.com/help/generate_text",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\t\"id\": 1,\n\t\"jsonrpc\": \"2.0\",\n\t\"method\": \"call\",\n\t\"params\": {\n\t\t\"conversation_history\": [{\n\t\t\t\"role\": \"user\",\n\t\t\t\"parts\": [{\n\t\t\t\t\"text\": \"{{ $('When Executed by Another Workflow').item.json.input }}\"\n\t\t\t}]\n\t\t}]\n\t}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        440,
        0
      ],
      "id": "a180af07-5776-4036-a9c0-29b5f13f3a1e",
      "name": "Odoo Website AI Response",
      "retryOnFail": true,
      "maxTries": 5
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "6cb50a37-4f28-44eb-80b1-649f2b9e1f47",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "model": "qwen2.5:7b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        660,
        200
      ],
      "id": "35c14ddc-c17f-48d2-a728-3463db5e0837",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "7a1UpMdfiBqQnwIw",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "NZjbMUincQLwuGqe",
          "mode": "list",
          "cachedResultName": "AI Search By All KBs"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $json.input }}"
          },
          "matchingColumns": [
            "chatInput"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        220,
        0
      ],
      "id": "c2766c5c-8577-4600-8b38-4fd5f23210d9",
      "name": "AI Search By All KBs"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2025-06-24T05:57:43.570Z",
      "updatedAt": "2025-06-24T05:57:43.570Z",
      "id": "aE9J8xMHCvJ9aubU",
      "name": "Main"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-24T09:15:13.828Z",
  "versionId": "12e6cf9b-4b30-4719-bb67-4c9a26b8c980"
}