workflows/6XwBqMVepNMez13m.json
{
  "createdAt": "2025-06-24T08:43:12.772Z",
  "updatedAt": "2025-06-24T09:15:03.634Z",
  "id": "6XwBqMVepNMez13m",
  "name": "Clear Execution Histories Automation",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "delete",
        "tableId": "execution_entity",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        600,
        0
      ],
      "id": "4e4c0beb-4efe-40c0-9e79-f3730eb28330",
      "name": "Supabase Delete Execution Entity",
      "credentials": {
        "supabaseApi": {
          "id": "7kKQPQnrYNYdRgyX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "execution_entity",
        "filters": {
          "conditions": [
            {
              "keyName": "createdAt",
              "condition": "lt",
              "keyValue": "={{ DateTime.utc().minus(3, 'days') }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        380,
        0
      ],
      "id": "c5b6749c-b823-40c2-8a3d-f7049995d30c",
      "name": "Supabase Get Execution Entities",
      "credentials": {
        "supabaseApi": {
          "id": "7kKQPQnrYNYdRgyX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {}
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        140,
        0
      ],
      "id": "046acc2b-9466-4708-bede-bd840f805d2c",
      "name": "Schedule Trigger"
    }
  ],
  "connections": {
    "Supabase Delete Execution Entity": {
      "main": [
        []
      ]
    },
    "Supabase Get Execution Entities": {
      "main": [
        [
          {
            "node": "Supabase Delete Execution Entity",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Supabase Get Execution Entities",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "c0fb0822-200a-43a1-ae81-c48ca3963bb3",
  "triggerCount": 1,
  "tags": [
    {
      "createdAt": "2025-06-24T05:57:43.570Z",
      "updatedAt": "2025-06-24T05:57:43.570Z",
      "id": "aE9J8xMHCvJ9aubU",
      "name": "Main"
    }
  ]
}