workflows/CVAQZLFNvv5cHVSY.json
{
  "input": {
    "createdAt": "2025-07-17T07:26:51.052Z",
    "updatedAt": "2025-07-17T09:02:35.734Z",
    "id": "CVAQZLFNvv5cHVSY",
    "name": "Restore credentials from GitHub",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {},
        "id": "9d21bbc0-ce6b-4928-9fa1-8db5b5651ce9",
        "name": "When clicking ‘Test workflow’",
        "type": "n8n-nodes-base.manualTrigger",
        "position": [
          -200,
          120
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Restore from GitHub \nThis workflow will restore all instance credentials from GitHub backups.\n\n\n### Setup\nOpen `Globals` node and update the values below 👇\n\n- **repo.owner:** your Github username\n- **repo.name:** the name of your repository\n- **repo.path:** the folder to use within the repository.\n\n\nIf your username was `john-doe` and your repository was called `n8n-backups` and you wanted the credentials to go into a `credentials` folder you would set:\n\n- repo.owner - john-doe\n- repo.name - n8n-backups\n- repo.path - credentials/\n",
          "height": 420,
          "width": 320
        },
        "id": "84df3a46-dc9f-4d2d-b3a6-09069af00547",
        "name": "Sticky Note1",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          -580,
          100
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "6cf546c5-5737-4dbd-851b-17d68e0a3780",
                "name": "repo.owner",
                "type": "string",
                "value": "engineering-justpro"
              },
              {
                "id": "452efa28-2dc6-4ea3-a7a2-c35d100d0382",
                "name": "repo.name",
                "type": "string",
                "value": "n8n-backup"
              },
              {
                "id": "81c4dc54-86bf-4432-a23f-22c7ea831e74",
                "name": "repo.path",
                "type": "string",
                "value": "credentials"
              }
            ]
          },
          "options": {}
        },
        "id": "b4f1fb5b-0819-4e0c-8aa2-e68aae055b0f",
        "name": "Globals",
        "type": "n8n-nodes-base.set",
        "position": [
          60,
          120
        ],
        "typeVersion": 3.4
      },
      {
        "parameters": {
          "content": "## Edit this node 👇",
          "height": 80,
          "width": 150,
          "color": 4
        },
        "id": "8ada07d4-978b-4df8-b61a-08fe2a628e9a",
        "name": "Sticky Note4",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          0,
          0
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "content": "## Skip credential\n- The empty json files\n- The n8n account api\n- ...edit this node at will",
          "color": 4
        },
        "id": "f8da9565-fcc7-455d-9cfc-1ce6ab858e4d",
        "name": "Sticky Note",
        "type": "n8n-nodes-base.stickyNote",
        "position": [
          540,
          260
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "url": "=https://api.github.com/repos/{{ $json.repo.owner }}/{{ $json.repo.name }}/contents/{{ $json.repo.path }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "githubApi",
          "options": {}
        },
        "id": "45477b7b-1d84-4a0e-92f2-3d916cf62748",
        "name": "Get all files in given path",
        "type": "n8n-nodes-base.httpRequest",
        "position": [
          280,
          120
        ],
        "typeVersion": 4.2,
        "credentials": {
          "githubApi": {
            "id": "Yczo7OWK3hcrJOik",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "fieldToSplitOut": "path",
          "options": {}
        },
        "id": "5330da96-0de3-4cc5-8ec0-159390b14c0b",
        "name": "Split the result",
        "type": "n8n-nodes-base.splitOut",
        "position": [
          -160,
          440
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "file",
          "operation": "get",
          "owner": {
            "__rl": true,
            "value": "engineering-justpro",
            "mode": "name"
          },
          "repository": {
            "__rl": true,
            "mode": "name",
            "value": "n8n-backup"
          },
          "filePath": "={{ $('Get all files in given path').item.json.path }}",
          "additionalParameters": {}
        },
        "id": "0551c985-fde5-439a-8803-33b9cce9a123",
        "name": "Get file content from GitHub",
        "type": "n8n-nodes-base.github",
        "position": [
          80,
          440
        ],
        "typeVersion": 1,
        "alwaysOutputData": true,
        "webhookId": "4220a7e3-89b5-479b-a107-02ef79c38018",
        "credentials": {
          "githubApi": {
            "id": "Yczo7OWK3hcrJOik",
            "name": "GitHub account"
          }
        }
      },
      {
        "parameters": {
          "operation": "fromJson",
          "options": {}
        },
        "id": "f38f7490-b440-4395-b5b8-860103febe78",
        "name": "Convert files to JSON",
        "type": "n8n-nodes-base.extractFromFile",
        "position": [
          300,
          440
        ],
        "typeVersion": 1
      },
      {
        "parameters": {
          "resource": "credential",
          "name": "={{ $json.data.name }}",
          "credentialTypeName": "={{ $json.data.type }}",
          "data": "={{ JSON.stringify($json.data.data) }}",
          "requestOptions": {}
        },
        "id": "49c93ffe-49a2-4495-ab8e-9528cdd5bec4",
        "name": "Restore n8n Credentials",
        "type": "n8n-nodes-base.n8n",
        "position": [
          820,
          440
        ],
        "typeVersion": 1,
        "credentials": {
          "n8nApi": {
            "id": "TaJWhFjrrPca8VwE",
            "name": "n8n account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 2,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "combinator": "or",
            "conditions": [
              {
                "id": "ad031296-4ac0-4087-bc35-7975a2cc25e6",
                "operator": {
                  "type": "object",
                  "operation": "empty",
                  "singleValue": true
                },
                "leftValue": "={{ $json.data }}",
                "rightValue": ""
              },
              {
                "id": "ca912a57-6a4b-4b9a-be0e-37b69d3e4917",
                "operator": {
                  "type": "string",
                  "operation": "contains"
                },
                "leftValue": "={{ $json.data.name }}",
                "rightValue": "n8n account"
              }
            ]
          },
          "options": {}
        },
        "id": "72be0f12-acfd-402d-a6e1-040295e03304",
        "name": "Check for skipped Credentials",
        "type": "n8n-nodes-base.if",
        "position": [
          540,
          440
        ],
        "typeVersion": 2.2
      }
    ],
    "connections": {
      "Globals": {
        "main": [
          [
            {
              "node": "Get all files in given path",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split the result": {
        "main": [
          [
            {
              "node": "Get file content from GitHub",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Convert files to JSON": {
        "main": [
          [
            {
              "node": "Check for skipped Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get all files in given path": {
        "main": [
          [
            {
              "node": "Split the result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get file content from GitHub": {
        "main": [
          [
            {
              "node": "Convert files to JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for skipped Credentials": {
        "main": [
          [],
          [
            {
              "node": "Restore n8n Credentials",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "When clicking ‘Test workflow’": {
        "main": [
          [
            {
              "node": "Globals",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {},
    "versionId": "d40d2e23-5a63-4c0e-8a91-4381a7f242c5",
    "triggerCount": 0,
    "tags": []
  },
  "repo_name": "n8n-backup",
  "repo_owner": "engineering-justpro",
  "repo_path": "workflows"
}