workflows/kZlGngMQPd0x1X7J.json
{
  "active": true,
  "connections": {
    "Global Constants": {
      "main": [
        [
          {
            "node": "Get All Local KB Names",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Local KB Names": {
      "main": [
        [
          {
            "node": "Clear One KB By Name",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Local file Paths": {
      "main": [
        [
          {
            "node": "Read and Upload One File to KB",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read and Upload One File to KB": {
      "main": [
        []
      ]
    },
    "Clear One KB By Name": {
      "main": [
        [
          {
            "node": "Get All Local file Paths",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-16T04:31:44.236Z",
  "id": "kZlGngMQPd0x1X7J",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Recreate All KBs",
  "nodes": [
    {
      "parameters": {
        "content": "## 清空数据库的所有知识\n",
        "height": 400,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        0
      ],
      "id": "faf69fb1-c5da-482e-85ae-40b421a3874d",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## 遍历所有知识库文件，并依次上传至数据库",
        "height": 340,
        "width": 640
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        120,
        420
      ],
      "id": "a1eca093-047f-4942-83df-f6c1970242a4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -240,
        360
      ],
      "id": "73108516-f480-4e43-ad8d-739656004870",
      "name": "Global Constants",
      "executeOnce": true,
      "credentials": {
        "globalConstantsApi": {
          "id": "q2fHPkJigPYeQHLM",
          "name": "Global Constants account"
        }
      }
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "oW3T6728RC710Zg5",
          "mode": "list",
          "cachedResultName": "Clear One KB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $('Get All Local KB Names').item.json.file }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "mode": "each",
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        500,
        100
      ],
      "id": "ff6c554e-cb15-4a7b-b2e6-04bf175d18e5",
      "name": "Clear One KB By Name",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "JOfsdtp7St6LGTuI",
          "mode": "list",
          "cachedResultName": "[Tool] Get All Local KB Names"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        280,
        100
      ],
      "id": "2915de53-f9aa-4e8e-b0ec-3a7b24aeeaa8",
      "name": "Get All Local KB Names"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "HgDRV4hVYvk3AbRp",
          "mode": "list",
          "cachedResultName": "Get All Local File Paths"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "folder": "={{$('Global Constants').item.json.constants.kb_path }} "
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "folder",
              "displayName": "folder",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        280,
        520
      ],
      "id": "8cdb5ac7-816d-4a74-aabf-ec09cd71a492",
      "name": "Get All Local file Paths"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "Mhbn1hQSHRD5S95O",
          "mode": "list",
          "cachedResultName": "Read and Upload One File to KB"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "input": "={{ $json.file }}"
          },
          "matchingColumns": [
            "input"
          ],
          "schema": [
            {
              "id": "input",
              "displayName": "input",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "type": "string",
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        500,
        520
      ],
      "id": "abca1e4f-30fc-417b-843b-bb7b62a417ec",
      "name": "Read and Upload One File to KB"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -500,
        360
      ],
      "id": "3084dcef-38a2-459f-b8a5-fcba67f9ba3c",
      "name": "Schedule Trigger"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [
    {
      "createdAt": "2025-06-24T05:57:43.570Z",
      "updatedAt": "2025-06-24T05:57:43.570Z",
      "id": "aE9J8xMHCvJ9aubU",
      "name": "Main"
    }
  ],
  "triggerCount": 1,
  "updatedAt": "2025-06-27T06:27:55.620Z",
  "versionId": "00ddae6e-1105-4e80-b6cc-c966bfba0ead"
}