workflows/Mhbn1hQSHRD5S95O.json
{
  "createdAt": "2025-06-23T05:43:18.125Z",
  "updatedAt": "2025-07-24T07:25:59.443Z",
  "id": "Mhbn1hQSHRD5S95O",
  "name": "Read and Upload File(s) to KB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "text",
        "destinationKey": "=data",
        "options": {}
      },
      "id": "f7201940-48b0-4593-bf02-7230cf1e7677",
      "name": "Extract Document Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        64,
        160
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "options": {
          "metadata": {
            "metadataValues": [
              {
                "name": "file_id",
                "value": "={{ $('File').item.binary.data.directory }}/{{ $('File').item.binary.data.fileName }}"
              }
            ]
          }
        }
      },
      "id": "278b391b-0cf9-4a49-bb6d-599b6ba34369",
      "name": "Default Data Loader",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1,
      "position": [
        752,
        400
      ]
    },
    {
      "parameters": {
        "chunkSize": 3000,
        "chunkOverlap": 300,
        "options": {}
      },
      "id": "465d4290-981f-40c4-a6fd-95d8b445640d",
      "name": "Recursive Character Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        752,
        544
      ]
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "id": "beda967d-3cba-44c0-8f29-0af79b3568e6",
      "name": "Embeddings Ollama1",
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        624,
        400
      ],
      "credentials": {
        "ollamaApi": {
          "id": "Up6uCxyZ2GVh8ax8",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f3d894ff-9239-4526-8fe4-04d0cdd42b24",
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "pdf",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "txt",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    },
                    "id": "10cad77d-ad7d-42cb-9dc0-d99a2eb3e89b"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "076dc71e-6df5-4433-8acc-7fd448202c34",
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "py",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "78f1d4a1-a12a-40c7-a9a5-147d066c2d28",
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "xml",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "6bb57e66-a7ed-4758-9047-86501667aadf",
                    "leftValue": "={{ $json.fileName }}",
                    "rightValue": "md",
                    "operator": {
                      "type": "string",
                      "operation": "endsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -176,
        160
      ],
      "id": "7e652c4c-686f-4882-ac3c-1c17c72efa7e",
      "name": "Switch"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.input }}",
        "options": {
          "dataPropertyName": "=data"
        }
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1,
      "position": [
        -496,
        192
      ],
      "id": "0c5186ac-7bf2-4372-985b-937d325c3a78",
      "name": "File",
      "executeOnce": false,
      "alwaysOutputData": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "d533c911-720e-421f-887e-a23c157e29ce",
      "name": "Extract Document PDF",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        64,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "amount": 1
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1104,
        144
      ],
      "id": "fc931351-c793-47e2-b3c7-98a2d818f09a",
      "name": "Wait1",
      "webhookId": "db0a7a4f-dce3-4f2b-82b2-7bcc7196ec21"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input",
              "type": "array"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -688,
        192
      ],
      "id": "fa97d2ac-24af-40c0-a00b-66a24535795c",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('File').item.binary.data.directory }}",
                    "rightValue": "={{$('Global Constants').item.json.constants.kb_path }}/code",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "5f9d3356-f6f9-47d6-8f0f-72d0f14f90a9"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3ca74871-7bc1-4325-b353-36cd7287f963",
                    "leftValue": "={{ $('File').item.binary.data.directory }}",
                    "rightValue": "={{$('Global Constants').item.json.constants.kb_path }}/odoo",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "7e84be62-971c-41a5-8f39-3d527f3de529",
                    "leftValue": "={{ $('File').item.binary.data.directory }}",
                    "rightValue": "={{$('Global Constants').item.json.constants.kb_path }}/sharepoint",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        352,
        160
      ],
      "id": "78e59d5c-e618-4add-be18-e93c4d19d4ef",
      "name": "Switch1"
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "value": "=kb_{{ $('File').item.binary.data.directory.split('/')[3] }}",
          "mode": "id"
        },
        "options": {
          "queryName": "=match_kb_{{ $('File').item.binary.data.directory.split('/')[3] }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1,
      "position": [
        624,
        144
      ],
      "id": "741f88f6-42b3-4dd4-bac7-831975ecff73",
      "name": "Supabase Vector Store",
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "7kKQPQnrYNYdRgyX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-globals.globalConstants",
      "typeVersion": 1,
      "position": [
        -336,
        192
      ],
      "id": "9e85ce85-c24b-4ee9-9cf2-004d6480393b",
      "name": "Global Constants",
      "credentials": {
        "globalConstantsApi": {
          "id": "68bBK9HWj7ci7hNr",
          "name": "Global Constants account"
        }
      }
    }
  ],
  "connections": {
    "Extract Document Text": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Extract Document PDF",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Extract Document Text",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "File": {
      "main": [
        [
          {
            "node": "Global Constants",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Document PDF": {
      "main": [
        [
          {
            "node": "Switch1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch1": {
      "main": [
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store": {
      "main": [
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Global Constants": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "input": "/data/shared/odoo/360 Feedback — Odoo 18.0 documentation.txt"
        }
      },
      {
        "json": {
          "input": "/data/shared/code/odoo-pvs/om_data_remove/models/model.py"
        }
      }
    ]
  },
  "versionId": "66bc594a-9ca9-450b-aaa1-db7206ab3849",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-24T05:57:29.533Z",
      "updatedAt": "2025-06-24T05:57:29.533Z",
      "id": "0TQNWPOpix39gaQQ",
      "name": "Tool"
    }
  ]
}