workflows/NZjbMUincQLwuGqe.json
{
  "input": {
    "createdAt": "2025-06-16T04:31:31.095Z",
    "updatedAt": "2025-06-30T03:12:49.254Z",
    "id": "NZjbMUincQLwuGqe",
    "name": "AI Search By All KBs",
    "active": false,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "content": "## 搜索知识库",
          "height": 280,
          "width": 700
        },
        "type": "n8n-nodes-base.stickyNote",
        "typeVersion": 1,
        "position": [
          -180,
          0
        ],
        "id": "d6b14d80-9f7e-4680-9254-fbc27aebffa6",
        "name": "Sticky Note3"
      },
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "input"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -140,
          80
        ],
        "id": "187c1317-9da6-4bdb-925e-180595fb6001",
        "name": "Input"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "JOfsdtp7St6LGTuI",
            "mode": "list",
            "cachedResultName": "Get All Local KB Names"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [
              "folder"
            ],
            "schema": [
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          120,
          80
        ],
        "id": "8b0d2988-fa90-4e11-90d5-5272a61ac5c5",
        "name": "Get All Local KB Names"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "zqdmKqXTpGGNbdoi",
            "mode": "list",
            "cachedResultName": "AI Search By One KB"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "table_name": "={{ $json.file }}",
              "input": "={{ $('Input').item.json.input }}"
            },
            "matchingColumns": [
              "table_name"
            ],
            "schema": [
              {
                "id": "input",
                "displayName": "input",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              },
              {
                "id": "table_name",
                "displayName": "table_name",
                "required": false,
                "defaultMatch": false,
                "display": true,
                "canBeUsedToMatch": true,
                "type": "string",
                "removed": false
              }
            ],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "mode": "each",
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          360,
          80
        ],
        "id": "2ed5444a-4011-41a5-814a-515b6e2a6010",
        "name": "AI Search By One KB"
      },
      {
        "parameters": {
          "language": "python",
          "pythonCode": "# Loop over input items and add a new field called 'myNewField' to the JSON of each one\nresult = {}\ndata = \"\"\nfor item in _input.all():\n  for key, value in item.json.items():\n     data += f\"{key}: {value} \\n\\n\"\n  result[\"json\"] = {\"outputs from multiple sources of knowledge bases\": data}\nreturn result"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          580,
          80
        ],
        "id": "23d4d07f-5f19-49c0-ac9d-d56cbb76ffbe",
        "name": "Code"
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=Here are multiple sources of knowledge bases based on the question:\n{{ $('Input').first().json.input }}\n\nMultiple answers from different knowledge bases:\n{{ $json['outputs from multiple sources of knowledge bases'] }}\n\nYou should eliminate useless, duplicate information. Then, organize and give me all the useful informations WITHOUT adding your own additional knowledge.",
          "options": {
            "systemMessage": "You are a helpful assistant.\nYou should eliminate information such as 'I dont know'.\nThen, organize and give me all the informations WITHOUT adding your own additional knowledge."
          }
        },
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 2,
        "position": [
          800,
          80
        ],
        "id": "4bbb7b6c-042c-4c55-8c3a-71bc209165f0",
        "name": "AI Agent"
      },
      {
        "parameters": {
          "model": "qwen2.5:7b-instruct-q4_K_M",
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
        "typeVersion": 1,
        "position": [
          800,
          300
        ],
        "id": "e25c10c9-3026-43f4-8594-2e0c5552a72a",
        "name": "Ollama Chat Model",
        "credentials": {
          "ollamaApi": {
            "id": "7a1UpMdfiBqQnwIw",
            "name": "Ollama account"
          }
        }
      }
    ],
    "connections": {
      "Input": {
        "main": [
          [
            {
              "node": "Get All Local KB Names",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Local KB Names": {
        "main": [
          [
            {
              "node": "AI Search By One KB",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "AI Search By One KB": {
        "main": [
          [
            {
              "node": "Code",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Code": {
        "main": [
          [
            {
              "node": "AI Agent",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Ollama Chat Model": {
        "ai_languageModel": [
          [
            {
              "node": "AI Agent",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1"
    },
    "staticData": null,
    "meta": {
      "templateCredsSetupCompleted": true
    },
    "pinData": {
      "Input": [
        {
          "json": {
            "input": "百度现在的工作机制是什么？"
          }
        }
      ]
    },
    "versionId": "4baa1680-1a1e-4a42-90ca-ba21c3d81231",
    "triggerCount": 0,
    "tags": [
      {
        "createdAt": "2025-06-24T05:57:29.533Z",
        "updatedAt": "2025-06-24T05:57:29.533Z",
        "id": "0TQNWPOpix39gaQQ",
        "name": "Tool"
      },
      {
        "createdAt": "2025-06-24T05:57:43.570Z",
        "updatedAt": "2025-06-24T05:57:43.570Z",
        "id": "aE9J8xMHCvJ9aubU",
        "name": "Main"
      }
    ]
  },
  "repo_name": "n8n-backup",
  "repo_owner": "engineering-justpro",
  "repo_path": "workflows"
}