workflows/oW3T6728RC710Zg5.json
{
  "createdAt": "2025-06-24T04:15:55.435Z",
  "updatedAt": "2025-06-27T06:27:45.582Z",
  "id": "oW3T6728RC710Zg5",
  "name": "Clear One KB",
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "=kb_{{ $('When Executed by Another Workflow').item.json.input }}",
        "returnAll": true
      },
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        80,
        100
      ],
      "id": "a7693e41-98c6-4b57-b3ab-b8ecca91df0e",
      "name": "Supabase",
      "alwaysOutputData": false,
      "credentials": {
        "supabaseApi": {
          "id": "7kKQPQnrYNYdRgyX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "delete",
        "tableId": "=kb_{{ $('When Executed by Another Workflow').item.json.input }}",
        "filterType": "string",
        "filterString": "=metadata->>file_id=like.*{{ $json.metadata.file_id }}*"
      },
      "id": "445cf868-699b-4db5-8bff-d7c502ff9514",
      "name": "Delete Old Doc Rows1",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        840,
        220
      ],
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "supabaseApi": {
          "id": "7kKQPQnrYNYdRgyX",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        580,
        100
      ],
      "id": "42947f8b-f284-4453-9c94-9d8c5616b25c",
      "name": "Loop Over Items1",
      "alwaysOutputData": true,
      "executeOnce": false
    },
    {
      "parameters": {
        "content": "## 清空数据库的所有知识\n",
        "height": 400,
        "width": 1100
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -20,
        20
      ],
      "id": "be49964d-8367-4644-bb19-e8dd7ad9bac6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "workflowInputs": {
          "values": [
            {
              "name": "input"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -220,
        100
      ],
      "id": "53c17acd-e3c2-4117-ac3c-cbb318a3bfb9",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "d715b456-6b46-41ee-8f79-204e160b080d",
              "leftValue": "={{ $json }}",
              "rightValue": "",
              "operator": {
                "type": "object",
                "operation": "exists",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        320,
        100
      ],
      "id": "e77acc6d-ef80-46be-9218-cb951db00134",
      "name": "If"
    }
  ],
  "connections": {
    "Supabase": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Old Doc Rows1": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items1": {
      "main": [
        [],
        [
          {
            "node": "Delete Old Doc Rows1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "Supabase",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Loop Over Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {
    "When Executed by Another Workflow": [
      {
        "json": {
          "input": "code"
        }
      }
    ]
  },
  "versionId": "c921a4a0-66e2-4cef-af56-2158b6930ad6",
  "triggerCount": 0,
  "tags": [
    {
      "createdAt": "2025-06-24T05:57:29.533Z",
      "updatedAt": "2025-06-24T05:57:29.533Z",
      "id": "0TQNWPOpix39gaQQ",
      "name": "Tool"
    }
  ]
}